<style type="text/css">
.StatusType {
  display: inline;
  margin: 0px;

}
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0px 0 0;
}
</style>
<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

        <ul>
        <% @flight.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field status">
    <%= f.label :status_type %>
    <%= f.label :status_type, "Arrival", :value => "arrival",class: "StatusType"  %>
    <%= f.radio_button :status_type, "arrival", :checked => true,class: "StatusType" %>
    &nbsp
    <%= f.label :status_type, "Departure", :value => "departure",class: "StatusType" %>
    <%= f.radio_button :status_type, "departure",class: "StatusType" %>
  </div><br>
  <div class="field">
    <%= f.label :flight_number %>
    <%= f.text_field :flight_number %>
  </div><br>
  <div class="field">
    <%= f.label :airline_name %>
    <%= f.collection_select(:airline_name, Airline.all, :id, :airline_name) %>
  </div><br>
  <div class="field">
    <%= f.label :airport_name %>
    <%= f.collection_select(:airport_name, Airport.all, :airport_name, :airport_name) %>
  </div><br>
  <div class="field">
    <%= f.label :via %>
    <%= f.text_field :via %>
  </div><br>
  <div class="field">
    <%= f.label :from_to %>
    <%= f.text_field :from_to %>
  </div><br>
  <div class="field">
    <%= f.label :schedule_date %>
    <%= f.date_select :schedule_date,start_year: Time.now.year %>
  </div><br>
  <div class="field">
    <%= f.label :schedule_time %>
    <%= f.time_select :schedule_time %>
  </div><br>
  <div class="field">
    <%= f.label :actual_date %>
    <%= f.date_select :actual_date,start_year: Time.now.year,default: Date.today, include_blank: true %>
  </div><br>
  <div class="field">
    <%= f.label :actual_time %>
    <%= f.time_select :actual_time %>
  </div><br>
  <div class="field">
    <%= f.label :expected_time %>
    <%= f.time_select :expected_time %>
  </div><br>
  <div class="field">
    <%= f.label :gate_number %>
    <%= f.collection_select(:gate_number, Gate.all, :gate_number, :gate_number) %>
  </div><br>
  <div class="field">
    <%= f.label :counter_number %>
    <%= f.collection_select(:counter_number, Counter.all, :counter_number, :counter_number) %>
  </div><br>
  <div class="field">
    <%= f.label :belt_number %>
    <%= f.collection_select(:belt_number, Belt.all, :belt_number, :belt_number) %>
  </div><br>
  <div class="field">
    <%= f.label :flight_status %>
    <%= f.collection_select(:flight_status, Remark.all, :flight_status, :flight_status) %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div><br>
<% end %>