
<h1 style="text-align:center;">Listing flights</h1>
<%= link_to 'New Flight', new_flight_path,class: "btn btn-success" %>
<br><br>
Select/Deselect <%= check_box_tag("flights_select") %>  &nbsp &nbsp <%= button_tag "Delete Flights",class: "btn",id:"select_btn" %>
<br><br>
<div class="center-align">
<table class="table table-bordered flightdatatable">
    <thead>
      <tr style="font-size: 75%;">
        <th></th>
        <!-- <th><%#= check_box("select_unselect", {:multiple => true}) %>Select/Unselect</th> -->
        <th>Status type</th>
        <th>Flight number</th>
        <th>Airline name</th>
        <th>Airport name</th>
        <th>Via</th>
        <th>From to</th>
        <th>Schedule date</th>
        <th>Schedule time</th>
        <th>Actual date</th>
        <th>Actual time</th>
        <th>Expected time</th>
        <th>Gate number</th>
        <th>Counter number</th>
        <th>Belt number</th>
        <th>Flight Status</th>
        <th>Options</th>
      </tr>
    </thead>
  <tbody>
    <% @flights.each do |flight| %>
      <tr style="font-size: 60%;">
        <td><%= check_box_tag("flights"+flight.id.to_s, flight.id, flight.id,{class: "flights_list"}) %></td>
        <td><%= flight.status_type %></td>
        <td><%= flight.flight_number %></td>
        <td><%= flight.airline_name %></td>
        <td><%= flight.airport_name %></td>
        <td><%= flight.via %></td>
        <td><%= flight.from_to %></td>
        <td><%= flight.schedule_date %></td>
        <td><%= flight.schedule_time %></td>
        <td><%= flight.actual_date %></td>
        <td><%= flight.actual_time %></td>
        <td><%= flight.expected_time %></td>
        <td><%= flight.gate_number %></td>
        <td><%= flight.counter_number %></td>
        <td><%= flight.belt_number %></td>
        <td>
            <%= form_tag(update_status_path, :method => :put, :remote => true) do %>
             <div class="field">
               <%= hidden_field_tag "flight_id", flight.id %>
               <%= select_tag(:flight_details, options_from_collection_for_select(Remark.all, "flight_status", "flight_status",:selected => flight.flight_status),onchange: "this.form.submit();")%><%  submit_tag "Update status",:id=> "status_update" %>
              </div>
            <% end %>
        </td>
        <td><%= link_to 'Show', flight,class: "btn btn-info" %>-
        <%= link_to 'Edit', edit_flight_path(flight),class: "btn btn-info" %>-
        <%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br/>

  

<script type="text/javascript">
$(document).ready(function() {
  $('.flightdatatable').dataTable({
  });
  $(".flights_list").attr('checked',false);
  $("#select_btn").attr('disabled','disabled');
});
    // if ($(".flights_list").is(':checked')) {
    //   $(".flights_list").prop("checked", true);
    //   $("#select_btn").removeAttr('disabled');
    // }
  // if $('.flights_list').click(function () {
  //   $("#select_btn").removeAttr('disabled');    
  // });
  // if ($(".flights_list").change(function())){
  //   len = $("this").val.length
  //   alert(len )
  //   $('#select_btn').removeAttr('disabled');
  // }

$('#flights_select').change(function(){
    if ($("#flights_select").is(':checked')) {
      $(".flights_list").prop("checked", true);
      $("#select_btn").removeAttr('disabled');
    } else {
      $(".flights_list").prop("checked", false);
      $("#select_btn").attr('disabled','disabled');
    }
});

$("#select_btn").click(function(){
    var flights_by_class = [] 
    var flights_by_class = $("input:checkbox:checked.flights_list").map(function(){
        return $(this).val();
    }).get();
    
    $.ajax({
      type: "POST",
      url: '/flights/delete_multiple_flights',
      data: { flights: flights_by_class },
      success: successHandler
    });

    function successHandler(){
      location.reload(); 
    };
    // $.ajax({
    //   type: "GET",
    //   url: '/displays/flights_list?belt_number='+selected_belt,
    //   success: function(data) {
    //     // $.each(data, function(index,e) {
    //     //   var myJsonArrayObject = JSON.stringify(e);
    //     //   newDiv.push(e.flight_number)
    //     // });
    //     // res.html('');
    //     // res.html(newdiv);
    //   }
    // });
});
</script>




