<p id="notice"><%= notice %></p>

<p>
  <b>Status type:</b>
  <%= @flight.status_type %>
</p>

<p>
  <b>Flight number:</b>
  <%= @flight.flight_number %>
</p>

<p>
  <b>Airline name:</b>
  <%= @flight.airline_name %>
</p>

<p>
  <b>Airport name:</b>
  <%= @flight.airport_name %>
</p>

<p>
  <b>Via:</b>
  <%= @flight.via %>
</p>

<p>
  <b>From to:</b>
  <%= @flight.from_to %>
</p>

<p>
  <b>Schedule date:</b>
  <%= @flight.schedule_date %>
</p>

<p>
  <b>Schedule time:</b>
  <%= @flight.schedule_time %>
</p>

<p>
  <b>Actual date:</b>
  <%= @flight.actual_date %>
</p>

<p>
  <b>Actual time:</b>
  <%= @flight.actual_time %>
</p>

<p>
  <b>Expected time:</b>
  <%= @flight.expected_time %>
</p>

<p>
  <b>Gate number:</b>
  <%= @flight.gate_number %>
</p>

<p>
  <b>Counter number:</b>
  <%= @flight.counter_number %>
</p>

<p>
  <b>Belt number:</b>
  <%= @flight.belt_number %>
</p>

<p>
  <b>Flight status:</b>
  <%= @flight.flight_status %>
</p>


<%= link_to 'Edit', edit_flight_path(@flight),class: "btn btn-info" %> |
<%= link_to 'Back', flights_path,class: "btn btn-info" %>
