<%= form_for(@belt_display) do |f| %>
  <% if @belt_display.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@belt_display.errors.count, "error") %> prohibited this belt_display from being saved:</h2>

      <ul>
      <% @belt_display.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <br/><br/>
    <div class="field">
      <%= f.label :counter_number %>
      <%= f.number_field :counter_number %>
    </div><br/>
    <div class="field">
      <%#= f.label :airline_image %>
      <%= f.file_field :airline_image %>
    </div><br/>
    <div class="field">
      <%= f.label :background_color %>
      <%= f.text_field :background_color %>
    </div><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
