<h1>Listing belt_displays</h1>

<table class="table">
  <tr>
    <th>Airline image</th>
    <th>Background color</th>
    <th>Counter number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @belt_displays.each do |belt_display| %>
  <tr>
    <td><%= belt_display.airline_image %></td>
    <td><%= belt_display.background_color %></td>
    <td><%= belt_display.counter_number %></td>
    <td><%= link_to 'Show', belt_display %></td>
    <td><%= link_to 'Edit', edit_belt_display_path(belt_display) %></td>
    <td><%= link_to 'Destroy', belt_display, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Belt display', new_belt_display_path %>
