<style type="text/css">
    body{
        /*background-color:#00C0FF;*/
        background-color:<%= @belt_display.background_color %>;
        margin-top: 35px;
        color: #000025;
        margin: hidden;
        overflow: hidden;
        /*  overflow: scroll;
        */}
    .logoImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 600px;
    }
</style>
<% @belt_display.background_color %>
<%= image_tag(@belt_display.airline_image,class: "logoImage") %>


