<%= form_for(@airport_detail) do |f| %>
  <% if @airport_detail.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@airport_detail.errors.count, "error") %> prohibited this airport_detail from being saved:</h2>

        <ul>
        <% @airport_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :airport_name %>
    <%= f.text_field :airport_name %>
  </div></br>
  <div class="field">
    <%= f.label :default_message %>
    <%= f.text_field :default_message %>
  </div></br>
  <div class="field">
    <%= f.label :footer_message %>
    <%= f.text_field :footer_message %>
  </div></br>
  <div class="field">
    <%= f.label :airport_logo %>
    <%= f.file_field :airport_logo %>
  </div></br>
  <div class="actions">
    <%= f.submit %>
  </div></br>
<% end %>
