<h1 style="text-align:center">Airport Details</h1></br>
<% if @airport_details.count < 1 %>
  <%= link_to 'New Airport detail', new_airport_detail_path,class: "btn btn-success" %></br></br>
<% end %>
<table class="table">
  <tr></tr>
  <thead>
    <tr style="font-size: 75%;">
      <th>Airport name</th>
      <th>Default message</th>
      <th>Footer message</th>
      <th>Airport logo</th>
      <th>Show details</th>
      <th>Edit Airport</th>
      <th>Delete Airport</th>
    </tr>
  </thead>
  <tbody>
    <% @airport_details.each do |airport_detail| %>
      <tr style="font-size: 60%;">
        <td><%= airport_detail.airport_name %></td>
        <td><%= airport_detail.default_message %></td>
        <td><%= airport_detail.footer_message %></td>
        <td><%= image_tag(airport_detail.airport_logo.thumb) %></td>
        <td><%= link_to 'Show', airport_detail,class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_airport_detail_path(airport_detail),class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', airport_detail, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
  <tr></tr>
</table>
<br/>