<p id="notice"><%= notice %></p>

<p>
  <b>Airport name:</b>
  <%= @airport_detail.airport_name %>
</p>

<p>
  <b>Default message:</b>
  <%= @airport_detail.default_message %>
</p>

<p>
  <b>Footer message:</b>
  <%= @airport_detail.footer_message %>
</p>

<p>
  <b>Airport logo:</b>
  <%= image_tag(@airport_detail.airport_logo.thumb) %>
</p>


<%= link_to 'Edit', edit_airport_detail_path(@airport_detail),class:"btn btn-info" %> |
<%= link_to 'Back', airport_details_path,class:"btn btn-info" %>