<%= form_for(@gate) do |f| %>
  <% if @gate.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@gate.errors.count, "error") %> prohibited this gate from being saved:</h2>

        <ul>
        <% @gate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gate_number %><br />
    <%= f.text_field :gate_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
