<h1 style="text-align:center;">Listing gates</h1>
<%= link_to 'New Gate', new_gate_path,class:"btn btn-success" %>
</br></br>

<table class="table">
  <tr>
    <th>Gate number</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @gates.each do |gate| %>
  <tr>
    <td><%= gate.gate_number %></td>
    <td><%= link_to 'Show', gate,class:"btn btn-info" %></td>
    <td><%= link_to 'Edit', edit_gate_path(gate),class:"btn btn-info" %></td>
    <td><%= link_to 'Destroy', gate, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br/>

