<p id="notice"><%= notice %></p>

<p>
  <b>Gate number:</b>
  <%= @gate.gate_number %>
</p>


<%= link_to 'Edit', edit_gate_path(@gate),class: "btn btn-info" %> |
<%= link_to 'Back', gates_path,class: "btn btn-info" %>
