<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

        <ul>
        <% @schedule.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div></br>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_type %>
    <%= f.label :status_type, "Arrival", :value => "arrival"  %>
    <%= f.radio_button :status_type, "arrival", :checked => true %>
    <%= f.label :status_type, "Departure", :value => "departure" %>
    <%= f.radio_button :status_type, "departure" %>
  </div></br>
  <div class="field">
    <%= f.label :flight_number %>
    <%= f.text_field :flight_number %>
  </div></br>
 <div class="field">
    <%= f.label :airline_name %>
    <%= f.collection_select(:airline_name, Airline.all, :airline_name, :airline_name) %>
  </div></br>
  <div class="field">
    <%= f.label :airport_name %>
    <%= f.collection_select(:airport_name, Airport.all, :airport_name, :airport_name) %>
  </div></br>
  <div class="field">
    <%= f.label :via %>
    <%= f.text_field :via %>
  </div></br>
  <div class="field">
    <%= f.label "From/To" %>
    <%= f.text_field :from_to %>
  </div></br>
  <div class="field">
    <%= f.label :schedule_time %>
    <%= f.time_select :schedule_time %>
  </div></br>
  <div class="field">
    <%= f.label :valid_from %>
    <%= f.date_select :valid_from %>
  </div></br>
  <div class="field">
    <%= f.label :valid_till %>
    <%= f.date_select :valid_till %>
  </div></br>
  <div class="field">
    <%= f.label :available_days %>
    <%#= f.text_field :available_days %>
    <%#= f.collection_check_boxes :available_days, ["M","T"] %>
    <% array = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'] %>
    <% array.each do |a_value| %>
    <%= a_value %>
     <%= f.check_box(:available_days, { :multiple => true }, a_value, nil) %>
    <% end %>
  </div></br>
  <div class="field">
    <%= f.label :gate_number %>
    <%= f.collection_select(:gate_number, Gate.all, :gate_number, :gate_number) %>
  </div></br>
  <div class="field">
    <%= f.label :counter_number %>
    <%= f.collection_select(:counter_number, Counter.all, :counter_number, :counter_number) %>
  </div></br>
  <div class="field">
    <%= f.label :belt_number %>
    <%= f.collection_select(:belt_number, Belt.all, :belt_number, :belt_number) %>
  </div></br>
  <div class="actions">
    <%= f.submit %>
  </div></br>
<% end %>
