

<style type="text/css">
  .DisplayHeading
  {
    text-align:center;
  }
    h1
  {
    text-align:center;
  }
  table{
    font-size: 9px;
  }
</style>

<h1>Listing Schedules</h1>  
<%= link_to 'New Schedule', new_schedule_path,class:"btn btn-success" %>
</br>
<table class="table">
  <thead style="font-size:8px;">
    <tr>
      <th>Status type</th>
      <th>Flight number</th>
      <th>Airline name</th>
      <th>Airport name</th>
      <th>Via</th>
      <th>From/To</th>
      <th>Schedule time</th>
      <th>Valid from</th>
      <th>Valid till</th>
      <th>Available days</th>
      <th>Gate number</th>
      <th>Counter number</th>
      <th>Belt number</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody style="font-size:8px;">
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.status_type %></td>
        <td><%= schedule.flight_number %></td>
        <td><%= schedule.airline_name %></td>
        <td><%= schedule.airport_name %></td>
        <td><%= schedule.via %></td>
        <td><%= schedule.from_to %></td>
        <td><%= schedule.schedule_time %></td>
        <td><%= schedule.valid_from %></td>
        <td><%= schedule.valid_till %></td>
        <td><%= schedule.available_days %></td>
        <td><%= schedule.gate_number %></td>
        <td><%= schedule.counter_number %></td>
        <td><%= schedule.belt_number %></td>
        <td><%= link_to 'Show', schedule,class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule),class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
       </tr>
    <% end %>
  </tbody>
</table>
<br/>




   