<p id="notice"><%= notice %></p>

<p>
  <b>Status type:</b>
  <%= @schedule.status_type %>
</p>

<p>
  <b>Flight number:</b>
  <%= @schedule.flight_number %>
</p>

<p>
  <b>Airline name:</b>
  <%= @schedule.airline_name %>
</p>

<p>
  <b>Airport name:</b>
  <%= @schedule.airport_name %>
</p>

<p>
  <b>Via:</b>
  <%= @schedule.via %>
</p>

<p>
  <b>From/To:</b>
  <%= @schedule.from_to %>
</p>

<p>
  <b>Schedule time:</b>
  <%= @schedule.schedule_time %>
</p>

<p>
  <b>Valid from:</b>
  <%= @schedule.valid_from %>
</p>

<p>
  <b>Valid till:</b>
  <%= @schedule.valid_till %>
</p>

<p>
  <b>Available days:</b>
  <%= @schedule.available_days %>
</p>

<p>
  <b>Gate number:</b>
  <%= @schedule.gate_number %>
</p>

<p>
  <b>Counter number:</b>
  <%= @schedule.counter_number %>
</p>

<p>
  <b>Belt number:</b>
  <%= @schedule.belt_number %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule),class: "btn btn-info" %> |
<%= link_to 'Back', schedules_path,class: "btn btn-info" %>
