<% flight_numbers = [] %>
  <% if flights_list.present? %>
  <p hidden id="section_name"><%= @section_name %></p>  
  <% flights_list.each do |f| %>
    <% flight_numbers << f.flight_number %>
  <% end %>
  <%= label_tag :flight_number %>
  <%= select_tag "flight_number", options_from_collection_for_select(flight_numbers, :to_s, :to_s),{:multiple => true} %>
<% end %>

<script type="text/javascript">
  var flightValues = []
  $("select").on("click", "option", function (event) {
    if ($("#section_name").text() == "counter_number"){
      flightValues = $(this).siblings(":selected")
      // alert(flightValues)
      if (1 <= flightValues.length) {
        $(this).removeAttr("selected");
        alert("You cannot select more than 1 flight for counter.")
      }
  	}
	else{
    flightValues = $(this).siblings(":selected");
    if (2 <= $(this).siblings(":selected").length) {
      $(this).removeAttr("selected");
      alert("You cannot select more than 2 flights in "+$("#section_name").text().split('_')[0]+"s.")
    }
  }
  });

// function notEmpty(elem, helperMsg){
//   if(elem.value.length == 0){
//     alert(helperMsg);
//     elem.focus(); // set the focus to this input
//     return false;
//   }
//   return true;
// }
</script>

