<%= form_for(@display) do |f| %>
  <% if @display.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@display.errors.count, "error") %> prohibited this display from being saved:</h2>

        <ul>
        <% @display.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>
  </div></br>
 
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div></br>
 
  <div class="field">
    <%= f.label :schedule_type %>
    <% @remark = ["Arr","Arr/Dept","Dept","Flights","Gate","Belt","Counter"]%>
    <%= select_tag :schedule_type, options_for_select(@remark) %>
  </div></br>
 
  <div class="field" id="viewing">
    <%= f.label :viewing %>
    <%= f.collection_select(:viewing, Flight.all, :id, :flight_number, :include_blank => true ) %>
  </div></br>
 
  <div class="field" id="counter_number">
    <%= f.label :counter_number %>
    <%#= f.collection_select(:counter_number, Flight.where("counter_number IS NOT NULL").uniq, :id, :counter_number, :include_blank => true ) %>
    <%= f.collection_select(:counter_number, Flight.select(:counter_number).uniq.where("counter_number IS NOT NULL"), :counter_number, :counter_number, :include_blank => true ) %>
  </div></br>

  <div class="field" id="belt_number">
    <%= f.label :belt_number %>
    <%= f.collection_select(:belt_number, Flight.select(:belt_number).uniq.where("belt_number IS NOT NULL"), :belt_number, :belt_number, :include_blank => true ) %>
  </div></br>
 
  <div class="field" id="gate_number">
    <%= f.label :gate_number %>
    <%= f.collection_select(:gate_number,Flight.select(:gate_number).uniq.where("gate_number IS NOT NULL"), :gate_number, :gate_number, :include_blank => true ) %>
  </div></br>

  <div class="field" id="flight_results">
   <%= render 'flights_list' %>
  </div></br>

 <div class="actions">
    <%= f.submit %>
  </div></br>
<% end %>



<script type="text/javascript">
$(function() {
  $('#viewing').hide(); 
  $('#belt_number').hide(); 
  $('#counter_number').hide(); 
  $('#gate_number').hide(); 

  $('#gate_number').change(function(){
    var selected_gate = $('#gate_number :selected').text()
    $.ajax({
      type: "GET",
      url: '/displays/flights_list?gate_number='+selected_gate,
      success: function(data) {
        // $.each(data, function(index,e) {
        //   var myJsonArrayObject = JSON.stringify(e);
        //   newDiv.push(e.flight_number)
        // });
        // res.html('');
        // res.html(newdiv);
      }
    });

    // var selectedFlights =  []
    // $( "form" ).submit(function( event ) {
    //   selectedLadies = $('#flight_number option:selected')
    //   if (selectedLadies.length == 0 || selectedLadies.val() == ""){
    //     alert("Please select flight number's from the list.")  
    //     return false;
    //   }
    //   // else{
    //   //   alert("Thank you smart ass ':)'!!!")
    //   //   return false;
    //   // }
    // });
    flightValidations()
  });

  $('#counter_number').change(function(){
    var selected_counter = $('#counter_number :selected').text()
    var last_valid_selection = null;
    $.ajax({
      type: "GET",
      url: '/displays/flights_list?counter_number='+selected_counter,
      success: function(data) {
        // $.each(data, function(index,e) {
        //   var myJsonArrayObject = JSON.stringify(e);
        //   newDiv.push(e.flight_number)
        // });
        // res.html('');
        // res.html(newdiv);
      }
    });
    flightValidations()
  });

  $('#belt_number').change(function(){
    var selected_belt = $('#belt_number :selected').text()
    $.ajax({
      type: "GET",
      url: '/displays/flights_list?belt_number='+selected_belt,
      success: function(data) {
        // $.each(data, function(index,e) {
        //   var myJsonArrayObject = JSON.stringify(e);
        //   newDiv.push(e.flight_number)
        // });
        // res.html('');
        // res.html(newdiv);
      }
    });
    flightValidations()
  });

  $('#schedule_type').change(function(){
    if($(this).val() == 'Flights') {
      $('#viewing').show(); 
      $("#flight_number").hide();
    } else {
      $('#viewing').hide(); 
    } 
    if($(this).val() == 'Belt') {
      $('#belt_number').show(); 
      $("#flight_number").hide();
    } else {
      $('#belt_number').hide(); 
    } 
    if($(this).val() == 'Counter') {
      $('#counter_number').show(); 
      $("#flight_number").hide();
    } else {
      $('#counter_number').hide(); 
    } 
    if($(this).val() == 'Gate') {
      $('#gate_number').show(); 
      $("#flight_number").hide();
    } else {
      $('#gate_number').hide(); 
    } 
  });

  function flightValidations() {
    var selectedFlights =  []
    $( "form" ).submit(function( event ) {
      selectedFlights = $('#flight_number option:selected')
      if (selectedFlights.length == 0 || selectedFlights.val() == ""){
        alert("Please select flight number's from the list.")  
        return false;
      }
      // else{
      //   alert("Thank you smart ass ':)'!!!")
      //   return false;
      // }
    });
  }
});
</script>

