<style type="text/css">
  .DisplayHeading
  {
    text-align:center;
  }
</style>

<h1 class="DisplayHeading" >Listing Displays</h1>
<%= link_to 'New Display', new_display_path,class: "btn btn-success" %>
<br><br>

<table class="table">
  <thead style="font-size:9px;">
    <tr>
      <th>Display name</th>
      <th>Description</th>
      <th>Viewing</th>
      <th>Belt number</th>
      <th>Gate number</th>
      <th>Counter number</th>
      <th>Schedule type</th>
      <th>Flights</th>
      <th>Show display</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody style="font-size:9px;">
    <% @displays.each do |display| %>
      <tr>
        <td><%= display.display_name %></td>
        <td><%= display.description %></td>
        <td><%= display.viewing %></td>
        <td><%= display.belt_number %></td>
        <td><%= display.gate_number %></td>
        <td><%= display.counter_number %></td>
        <td><%= display.schedule_type %></td>
        <td><%= display.flight_numbers %></td>
        <td><%= link_to "View #{display.schedule_type}",{:controller => "display_boards",:action => "actions",:display => display.schedule_type,:details => display,:flight_number => display.viewing,:belt_number => display.belt_number,:flight_numbers => display.flight_numbers,:gate_number => display.gate_number,:counter_number => display.counter_number},class: "btn btn-primary" %></td>
        <td><%= link_to 'Show', display,class: "btn btn-info"  %></td>
        <td><%= link_to 'Edit', edit_display_path(display),class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', display, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<!-- OL5251,RQ5251 -->