<p id="notice"><%= notice %></p>

<p>
  <b>Display name:</b>
  <%= @display.display_name %>
</p>

<p>
  <b>Description:</b>
  <%= @display.description %>
</p>

<p>
  <b>Viewing:</b>
  <%= @display.viewing %>
</p>

<p>
  <b>Schedule type:</b>
  <%= @display.schedule_type %>
</p>


<%= link_to 'Edit', edit_display_path(@display),class: "btn btn-info" %> |
<%= link_to 'Back', displays_path,class: "btn btn-info" %>
