
<div class="col-md-7">
  <!-- Row 1 -->
  <div class="col-md-12 row">
    <a href="/flights/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-plane  fa-lg"></i>
        <p>Add New Flight </p>
      </div>
    </a>
    <a href="/displays/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-th fa-lg"></i>
        <p>Add New Display </p>
      </div>
    </a>
    <a href="/schedules/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-calendar fa-lg"></i>
        <p>Add New Schedule</p>
      </div>
    </a>
    <a href="/airlines/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-plus-circle fa-lg"></i>
        <p>Add New Airlines</p>
      </div>
    </a>
  </div>
  <!-- Row2 -->
  <div class="col-md-12 row">
    <a href="/airports/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-plus-circle fa-lg"></i>
        <p>Add New Airport</p>
      </div>
    </a>
    <a href="/airport_details/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-plus-circle fa-lg"></i>
        <p>Add New Airport Details</p>
      </div>
    </a>
    <a href="/belts/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-plus-circle fa-lg"></i>
        <p>Add New Belt</p>
      </div>
    </a>
    <a href="/gates/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-plus-circle fa-lg"></i>
        <p>Add New Gates</p>
      </div>
    </a>
  </div>
  <!-- Row3 -->
  <div class="col-md-12 row">
    <a href="/counters/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-plus-circle fa-lg"></i>
        <p>Add New Counter</p>
      </div>
    </a>
    <a href="/remarks/new">
      <div class="col-md-4 menu1">
        <i class="fa fa-plus-circle fa-lg"></i>
        <p>Add New Status</p>
      </div>
    </a>
    <a href="/user_settings/add_user">
      <div class="col-md-4 menu1">
        <i class="fa fa-user-plus fa-lg"></i>
        <p>Add Users</p>
      </div>
    </a>
  </div>
</div>
<!-- Text -->
<div class="col-md-5 t-txt">
  <p>Welcome to Tanzania Airport Authority(Bukoba)
  </p>

</div>
