<% arrivals.each do |arrival| %>
  <tr>
    <td style="width: 75px"><%= arrival.schedule_time.strftime("%H:%M") %></td>
    <td style="width:160px"><%= arrival.flight_number %></td>
    <td style="width:200px;margin: 0px;padding: 0px;" class="LogoImage"><%= image_tag(arrival.airline.logo) if arrival.airline.present?  %></td>
    <% if arrival.via.present? %>
    <td style="width:368px"><span id="rotate<%= arrival.id %>"><%= arrival.from_to  %>,<%= arrival.via %></span></td>
    <% else %>
    <td style="width:368px"><span class="norotate"><%= arrival.from_to  %></span></td>
    <% end %>
    <td style="width:75px"><%= arrival.belt_number %></td>
    <td  style="width:100px"><%= arrival.expected_time.strftime("%H:%M") if arrival.expected_time.present? %></td>
    <td  style="width:245px" bgcolor="<%= arrival.bgcolor %>"><%= arrival.flight_status %></td>
  </tr>
<script type="text/javascript">
$("#rotate<%= arrival.id %>").textrotator({
      animation: "dissolve",
      separator: ",",
      speed: 1667
    });
</script>
<% end %>
      

<%#= javascript_include_tag "/assets/rotator.js" %>


<!-- 
style="width:150"
top text #282A2F and background  == #FBC918 or #2E4092
fromto and scheduled == #747B76 back #747670
Table Heading == #815D21

rest of fields text == #F4FB49 back #696429

footer #FFFFFF
 -->

