
<% belts.each do |belt| %>
  <ul class="belts_ul">
    <li class="LogoImage"><%= image_tag(belt.airline.logo) if belt.airline.present?  %></li>
    <li class="belts_list belts_li"><%= belt.flight_number %></li>
    
    <% if belt.via.present? %>
     <li class="belts_list"><%= belt.from_to  %></li>
     <!-- <li class="belts_list"><span class="rotate"><%#= belt.from_to  %>,<%#= belt.via %></span></li> -->
    <% else %>
      <li class="belts_list"><%= belt.from_to  %></li>
      <!-- <li class="belts_list"><span class="norotate"><%#= belt.from_to  %></span></li> -->
    <% end %>
  </ul>
<% end %>