<%# counters.each do |counter| %>
<!--   <tr>
    <td style="width: 75px"><%#= counter.schedule_time.strftime("%H:%M") %></td>
    <td style="width:160px"><%#= counter.flight_number %></td>
    <td style="width:200px" class="LogoImage"><%#= image_tag(counter.airline.logo) if counter.airline.present?  %></td>
    <%# if counter.via.present? %>
    <td style="width:368px"><span class="rotate"><%#= counter.from_to  %>,<%#= counter.via %></span></td>
    <%# else %>
    <td style="width:368px"><span class="norotate"><%#= counter.from_to  %></span></td>
    <%# end %>
    <td style="width:75px"><%#= counter.belt_number %></td>
    <td  style="width:100px"><%#= counter.expected_time.strftime("%H:%M") if counter.expected_time.present? %></td>
    <td  style="width:245px" bgcolor="<%#= counter.bgcolor %>"><%#= counter.flight_status %></td>
  </tr> -->
<%# end %>
<% counters.each do |counter| %>
    <ul>
      <%= counter.flight_number %>
    </ul>
    <ul>
    <% if counter.via.present? %>
        <span id="rotate<%= counter.id %>"><%= counter.from_to  %>,<%= counter.via %></span>
    <% else %>
        <span class="norotate"><%= counter.from_to  %></span>
    <% end %>
    </ul>
    <script type="text/javascript">
    $("#rotate<%= counter.id %>").textrotator({
          animation: "dissolve",
          separator: ",",
          speed: 1667
        });
    </script>
<% end %>




