<% departures.each do |departure| %>
  <tr>
    <td style="width: 75px"><%= departure.schedule_time.strftime("%H:%M") %></td>
    <td style="width:160px"><%= departure.flight_number %></td>
    <td style="width:200px;margin: 0px;padding: 0px;" class="LogoImage"><%= image_tag(departure.airline.logo) if departure.airline.present?  %></td>
    <% if departure.via.present? %>
    <td style="width:368px"><span id="rotate<%= departure.id %>"><%= departure.from_to  %>,<%= departure.via %></span></td>
    <% else %>
    <td style="width:368px"><span class="norotate"><%= departure.from_to  %></span></td>
    <% end %>
    <td style="width:75px"><%= departure.belt_number %></td>
    <td  style="width:100px"><%= departure.expected_time.strftime("%H:%M") if departure.expected_time.present? %></td>
    <td  style="width:245px" bgcolor="<%= departure.bgcolor %>"><%= departure.flight_status %></td>
  </tr>
    <script type="text/javascript">
        $("#rotate<%= departure.id %>").textrotator({
            animation: "dissolve",
            separator: ",",
            speed: 1667
        });
    </script>

<% end %>

