<% flights.each do |flight| %>
  <tr>
		<td><%= flight.schedule_time.strftime("%H:%M") if flight.schedule_time.present? %></td>
		<td><%= flight.flight_number%></td> 
		<td class="LogoImage"><%= image_tag(flight.airline.logo.thumb) if flight.airline.present? %></td>
		<td><%= flight.from_to %></td> 
		<td><%= flight.via %></td> 
		<% if @head_val == "Gate" %>
		  <td><%= flight.gate_number%></td> 
		<% else %>
		  <td><%= flight.belt_number%></td> 
		<% end %>
		<td><%= flight.expected_time.strftime("%H:%M") if flight.expected_time.present? %></td>
		<td bgcolor="<%= flight.bgcolor %>"><%= flight.flight_status%></td>
  </tr>
<% end%>
