<% gates.each do |gate| %>
  <ul class="gates_ul">
    <li class="LogoImage"><%= image_tag(gate.airline.logo) if gate.airline.present?  %></li>
    <li class="gates_list gates_li"><%= gate.flight_number %></li>
    
    <% if gate.via.present? %>
        <!-- <li id="rotate<%#= gate.id %>"><%#= gate.from_to  %>,<%#= gate.via %></li> -->
        <li><%= gate.from_to %></li>
    <% else %>
        <li id="norotate"><%= gate.from_to  %></li>
    <% end %>
  </ul>
    <script type="text/javascript">
    // $("#rotate<%#= gate.id %>").textrotator({
    //       animation: "dissolve",
    //       separator: ",",
    //       speed: 1667
    //     });
    </script>
<% end %>

