
<tr>
	<th style="width: 75px" align="left"> Time</th>
	<th style="width: 160px" align="left"> Flight</th>
	<th style="width: 200px" align="left">  Airline</th>
	<th style="width: 368px" align="left"><%= @disp_val %></th>
	<th style="width: 75px" align="left"><%= @head_val %></th>
	<th style="width: 110px" align="left">Exp.</th>
	<th style="width: 245px" align="left">Status</th>
</tr>

