
<style type="text/css">
  body{
    background-color:#00C0FF;
    background: rgba(32,124,229,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(32,124,229,1)), color-stop(5%, rgba(34,126,229,1)), color-stop(88%, rgba(68,151,233,1)), color-stop(100%, rgba(73,155,234,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    background: radial-gradient(ellipse at center, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=1 );
    margin-top: 10px;
    color: #000025;
    margin: hidden;
    overflow: hidden;
  }

/*  .ImageAndDetails{
    text-align: center;
    background-color: <%= "white" %>;
    margin-top: -11px;
    margin-bottom: 50px;
    height: 150px;
  }

  .NoMessageTable{
   margin-top: 60px; 
   text-align: center;
   line-height: 150%;
   font-size: 300%;
  }

  .LogoImage img{
    width:200px;
    height:50px;
    border:0px;
  }

  .scroll_text{
    bottom: 65px;
  }

  #results{
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    color: white;
  }

  #body_results{
    margin-top: 20px;
    margin-left:0px;
  }
*/
 .airport_logo{
  margin:25px;
  max-width: 200px;
  max-height: 150px;
 }
</style>

<% heading = "Arrivals" %>
<div class="ImageAndDetails">
  <head>
    <%= image_tag(@counters.last.airline.logo,class:"airport_logo airliner") if @counters.present? %>
    <%= image_tag(airport_logo,class:"airport_logo airport") %>
  </head>
</div>



  <div class="message">
    <% @disp_val = "From" %>
    <% @head_val = "Belt" %>
    <div id="results" >
      <%= render 'counters', counters: @counters  %>
    </div>
    <h1 style="text-align: right;margin-right:25px">Counter:<%= @counters.last.counter_number if @counters.present? %></h1>
  </div>

<div class="no_message">
  <div class="NoMessageTable">
    <ul id="head_results">
      <p><font color="#FBC918"><%= airport_message %></font>
    </ul>
    <ul id="body_results" >
      <p style="margin-top:20px; background-color:#E8E36E;"><%= airport_name %>
      </p>
    </ul>
  </div>
</div>

<%= javascript_include_tag "/assets/rotator.js" %>

<script type="text/javascript">
  $(document).ready(function(){
    if ( "<%= @counters.count %>" > 0 ) {
      $(".clock_div").hide();
      $("#head_results").hide();
      $("#body_results").hide();
      $(".airport").hide();
      $(".airliner").show();
      $(".message").show();
    }
    else {
      $("h1").hide();
      $(".no_message").show();
      $(".message").hide();
      $(".airliner").hide();
    }
  });

  (function poll() {
    setTimeout(function() {
      $.ajax({
        url: "/display_boards/counter_results?counter_number=<%= @counters.last.counter_number if @counters.present? %>&flight_numbers=<%= @flight_numbers %>",
        type: "GET",
        success: function(data) {
          if ( data.length > 0 ) {
              $(".clock_div").hide();
              $("#head_results").hide();
              $("#body_results").hide();
              $(".airport").hide();
              $(".message").show();
              var res = $('#results');
              var img_res = $('.ImageAndDetails')
              var newimagediv = [];
              var newdiv = [];
              $.each(data, function(index,e) {
                var myJsonArrayObject = JSON.stringify(e);
                 if (e.via.length > 0) {
                  newdiv.push("<ul>"+ e.flight_number +"</ul>"+"<ul id='rotate'>"+ e.from_to+','+e.via+"</ul>");
                }
                else
                {
                 newdiv.push("<ul>"+ e.flight_number +"</ul>"+"<ul id='norotate'>"+ e.from_to+"</ul>"); 
                }
                newimagediv.push("<img class='airport_logo airliner' src='" + e.airline["logo"]["url"] +"' alt='Thumbnail'/>");
              });
              img_res.html('');
              res.html('');
              img_res.html(newimagediv);
              res.html(newdiv);
              }
            else {
              $("h1").hide();
              $(".no_message").show();
              $(".message").hide();
              $(".airliner").hide();
              // $("img.airport_image").css("width", "110px");
            }
          },
        // dataType: "json",
        complete: poll,
        timeout: 2000
      })
    }, 10000);
    $("#rotate").textrotator({
      animation: "dissolve",
      separator: ",",
      speed: 1667
    });
  })();
</script>

<!-- $("input").hide("slow"); -->

<!-- $(“.someclass”).hide(2000); -->


