<style type="text/css">
body{
  background-color:#00C0FF;
  background: rgba(32,124,229,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(32,124,229,1)), color-stop(5%, rgba(34,126,229,1)), color-stop(88%, rgba(68,151,233,1)), color-stop(100%, rgba(73,155,234,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  background: radial-gradient(ellipse at center, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=1 );
  margin-top: 10px;
  color: #000025;
  margin: hidden;
  overflow: hidden;
/*  overflow: scroll;
*/}

h1{
  margin-top: 15px;
  font-size: 3em;
  text-align: center;

}
table{
  margin-top: 80px;
  margin-left:0px;
}
.ImageAndDetails
{
  text-align: center;
}
.NoMessageTable{
 margin-top: 60px; 
 text-align: center;
 line-height: 150%;
 font-size: 300%;
}
.table thead{
  background: #8297D2;
}
.table tbody{
  background: #000000;
  color: white;
  white-space: nowrap;
  }
  .LogoImage img{
    width:200px;
    height:50px;
    border:0px;
  }

  .scroll_text{
    bottom: 65px;
  }

    tbody, tbody td{
        margin: 100px;
      } 
  .table th, .table td {
    vertical-align:middle;
  }
</style>


<div class="ImageAndDetails">
  <div class="span2" style="width:125px">
    <%= image_tag(airport_logo,class:"airport_image") %>
  </div>
  <span class="span2">
    <h1 class="head1">
      Departures
    </h1>
  </span>
</div>

<div class="clock clock1">
  <span class="span2">
    <span class="span6">
      <ul id="3dclock">
        <li id="hours"></li>
          <li id="point">:</li>
          <li id="min"> </li>
          <li id="point">:</li>
          <li id="sec"> </li>
      </ul>
    </span>
    <span style="margin-top:10px;" class="span6">  <div id="Date"></div></span>
  </span>
</div>
<% @disp_val = "To" %>
<% @head_val = "Gate" %>
<div class="message">
  <table class="table" align="center">
    <thead>
      <%= render "head" %>
    </thead>
    <tbody id="results">
      <%= render "departures", departures: @departures %>
    </tbody>
  </table>
</div>

<div class="no_message">
  <table class="NoMessageTable">
    <thead id="head_results">
      <tr><td><p><font color="#FBC918"><%= airport_message %></font></p><td></tr>
    </thead>
    <tr><td>&nbsp</td></tr>
    <tbody id="body_results" bgcolor="#E8E36E">
      <tr>
      <td> <p><%= airport_name %>
      </p></td>
      </tr>
    </tbody>
  </table>
</div>

<%# @url_value = '/display_boards/departure_results?page='.to_s +  @page_number.to_s %>
<%# @url_value %>
<%= javascript_include_tag "/assets/rotator.js" %>
<script type="text/javascript">

</script>
<script type="text/javascript">
  $(document).ready(function(){
    if ( "<%= @departures.count %>" > 0 ) {
      $(".no_message").hide();
      $(".message").show();
      $("img.airport_image").css("width", "110px");
    }
    else {
      $("h1").hide();
      $(".no_message").show();
      $(".message").hide();
      $("img.airport_image").css("width", "110px");
    }
  });
  
  (function poll() {
    setTimeout(function() {
      $.ajax({
        url: "/display_boards/departure_results?page=<%= @page_number %>",
        type: "GET",
        success: function(data) {
          if ( data.length > 258 ) {
            $(".no_message").hide();
            $(".message").show();
            }
          else {
            $(".head1").hide();
            $(".no_message").show();
            $(".message").hide();
            $("img").css("max-width", "100px");
          }
        },
        // dataType: "json",
        complete: poll,
        timeout: 2000
      })
    }, 10000);
    $(".rotate").textrotator({
      animation: "dissolve",
      separator: ",",
      speed: 4000
    });
  })();
</script>