<style type="text/css">
body{
  background-color:#00C0FF;
  background: rgba(32,124,229,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(32,124,229,1)), color-stop(5%, rgba(34,126,229,1)), color-stop(88%, rgba(68,151,233,1)), color-stop(100%, rgba(73,155,234,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  background: radial-gradient(ellipse at center, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=1 );
  margin-top: 10px;
  color: #000025;
  margin: hidden;
  overflow: hidden;
}

h1{
  margin-top: 15px;
  font-size: 3em;
  text-align: center;
}
table{
  margin-top: 60px;
  margin-left:0px;
}
.ImageAndDetails
{
  text-align: center;
}
.NoMessageTable{
 margin-top: 60px; 
 text-align: center;
 line-height: 150%;
 font-size: 300%;
}
.table thead{
  background: #8297D2;
}
.table tbody{
  background: #000000;
  color: white;
  }
  .LogoImage{
    border: 0;
  }

  .scroll_text{
    bottom: 65px;
  }
</style>

<div class="ImageAndDetails">
  <span class="span1">
    <%= image_tag(airport_logo) %>
  </span>
  <span class="span3">
  <h1 class="head1">
  	Flight
  </h1>
  </span>
</div>

<div class="clock clock1">
  <span class="span2 s-span6">
    <span class="span6 s-span10">
      <ul id="3dclock">
        <li id="hours"></li>
          <li id="point">:</li>
          <li id="min"> </li>
          <li id="point">:</li>
          <li id="sec"> </li>
      </ul>
    </span>
    <span style="margin-top:10px;" class="span6 s-span10"><div id="Date"></div></span>
  </span>
</div>
<div class="message">
  <table class="table" align="center">
    <thead>
     <%= render "head" %>
    </thead>
    <tbody id="results">
      <%= render 'flights',flights: @flights %>
    </tbody>
  </table>
</div>
<div class="no_message">
  <table class="NoMessageTable">
    <thead id="head_results">
      <tr><td><p><font color="#FBC918"><%= airport_message %></font></p><td></tr>
    </thead>
    <tr><td>&nbsp</td></tr>
    <tbody id="body_results" bgcolor="#E8E36E">
      <tr>
      <td><p><%= airport_name %>
      </p></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    if ( "<%= @flights.count %>" > 0 ) {
      $(".no_message").hide();
      $(".message").show();
      $("img").css("max-width", "100px");
    }
    else {
      $(".head1").hide();
      $(".no_message").show();
      $(".message").hide();
      $("img").css("max-width", "100px");
    }
  });
  (function poll() {
    setTimeout(function() {
      $.ajax({
        url: "/display_boards/flight_results?flight_number=<%= @flight_number %>",
        type: "GET",
        success: function(data) {
          if ( data.length > 250 ) {
            $(".no_message").hide();
            $(".message").show();
            }
          else {
            $(".head1").hide();
            $(".no_message").show();
            $(".message").hide();
            $("img").css("max-width", "100px");
          }
        },
        // dataType: "json",
        complete: poll,
        timeout: 2000
      })
    }, 10000);
  })();
</script>