
<style type="text/css">
  body{
    background-color:#00C0FF;
    background: rgba(32,124,229,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(32,124,229,1)), color-stop(5%, rgba(34,126,229,1)), color-stop(88%, rgba(68,151,233,1)), color-stop(100%, rgba(73,155,234,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    background: radial-gradient(ellipse at center, rgba(32,124,229,1) 0%, rgba(34,126,229,1) 5%, rgba(68,151,233,1) 88%, rgba(73,155,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=1 );
    margin-top: 10px;
    color: #000025;
    margin: hidden;
    overflow: hidden;
  }

  h1{
    margin-top: 15px;
    font-size: 3em;
    text-align: center;
  }
  table{
    margin-top: 20px;
    margin-left:0px;
  }
  .ImageAndDetails{
    text-align: center;
  }
  .gate_heading{
   margin-top: 80px; 
   text-align: center;
   line-height: 150%;
   font-size: 100%;
   background: #FF7A01;
   
  }
  .NoMessageTable{
   margin-top: 60px; 
   text-align: center;
   line-height: 150%;
   font-size: 300%;
  }
  .LogoImage img{
    width:300px;
    height:100px;
    border:0px;
  }

  .scroll_text{
    bottom: 65px;
  }

  ul.gates_ul{
    margin-top: 30px;
    padding: 0;
  }
  
  ul.gates_ul li{
    color: #fff;
    display: inline;
    margin-left: 20px;
    margin-top:0px;
    font-size: 40px;
  }
  ul.gates_ul li.gates_li{
    margin-left: 75px;
  }
</style>


<% heading = "Arrivals" %>

<div class="ImageAndDetails">
  <div class="span2" style="width:125px">
    <%= image_tag(airport_logo,class:"airport_image") %>
  </div>
  <span class="span2">
    <h1 class="head1">
      <p style="color: #FBC918;">DEPARTURES</p>
    </h1>
  </span>
</div>


<div class="clock clock1">
  <span class="span2">
    <span class="span6">
      <ul id="3dclock">
        <li id="hours"></li>
          <li id="point">:</li>
          <li id="min"> </li>
          <li id="point">:</li>
          <li id="sec"> </li>
      </ul>
    </span>
    <span style="margin-top:10px;" class="span6">  <div id="Date"></div></span>
  </span>
</div>

<div class="gate_heading">
  <h1>Gate: <%= @gates.last.gate_number if @gates.present? %></h1>
</div>

<div class="message">
  <% @disp_val = "From" %>
  <% @head_val = "Belt" %>
  <div id="results" >
    <%= render 'gates', gates: @gates  %>
  </div>
<h1 style="margin-left: 70%;"><%= "Gate number: "+ @gates.last.gate_number if @gates.present? %></h1>
</div>

<div class="no_message">
  <table class="NoMessageTable">
    <thead id="head_results">
      <tr><td><p><font color="#FBC918"><%= airport_message %></font></p></td></tr>
    </thead>
    <tr><td>&nbsp</td></tr>
    <tbody id="body_results" bgcolor="#E8E36E">
      <td><p style="margin-top:20px"><%= airport_name %></p></td>
    </tbody>
  </table>
</div>


<%= javascript_include_tag "/assets/rotator.js" %>

<script type="text/javascript">
  $(document).ready(function(){
    if ( "<%= @gates.count %>" > 0 ) {
      $(".no_message").hide();
      $(".message").show();
      $("img.airport_image").css("width", "110px");
    }
    else {
      $("h1").hide();
      $(".no_message").show();
      $(".message").hide();
      $("img.airport_image").css("width", "110px");
    }
  });

  (function poll() {
    setTimeout(function() {
      $.ajax({
        url: "/display_boards/gate_results?gate_number=<%= @gates.last.gate_number if @gates.present? %>&flight_numbers=<%= @flight_numbers %>",
        type: "GET",
        success: function(data) {
          if ( data.length > 0 ) {
            $(".no_message").hide();
            $(".message").show();
            $("img.airport_image").css("width", "110px");
            var res = $('#results');
            var newdiv = [];
            var rotate = 0;
            $.each(data, function(index,e) {
              var myJsonArrayObject = JSON.stringify(e);
              // var rotate_id = ("#rotate"+e.id);
              // $("#rotate li").append(rotate_id)
              // alert(rotate_id)
            if (e.via.length > 0) {
              newdiv.push("<ul class='gates_ul'>" + "<li class='LogoImage'>" +"<img src='"+e.airline["logo"]["url"]+"' alt='Thumbnail'/>"+ '</li>' + '<li class="belts_list gates_li">' + e.flight_number + '</li>' +  "<li>"+e.from_to + "</li>" + "</ul>");
            }
            else  
            {
            newdiv.push("<ul class='gates_ul'>" + "<li class='LogoImage'>" +"<img src='"+e.airline["logo"]["url"]+"' alt='Thumbnail'/>"+ '</li>' + '<li class="belts_list gates_li">' + e.flight_number + '</li>' + "<li id='norotate'>" + e.from_to + "</li>" + "</ul>");
            }
            res.html('');
            res.html(newdiv);
             // alert(""+rotate_id);

            });
            }
          else {
            $("h1").hide();
            $(".no_message").show();
            $(".message").hide();
            $("img.airport_image").css("width", "110px");
            }
          },
        dataType: "json",
        complete: poll,
        timeout: 2000
      })
    }, 10000);
     // alert(rotate_id)
    // $("#rotate").textrotator({
    //   animation: "dissolve",
    //   separator: ",",
    //   speed: 1667
    // });
  })();
</script>
