/*body{
	 background:#202020;
	 font:bold 12px Arial, Helvetica, sans-serif;
	 margin:0;
	 padding:0;
	 min-width:960px;
	 color:#bbbbbb; 
}*/


@font-face {
  font-family: 'BebasNeueRegular';
  src: font-url('/assets/BebasNeue-webfont.eot');
  src: font-url('/assets/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('/assets/BebasNeue-webfont.woff') format('woff'),
       font-url('/assets/BebasNeue-webfont.ttf') format('truetype'),
       font-url('/assets/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.clock { font-size: 5px; width:8px; margin:0 auto; padding:30px; }

/*.clock {width:8px; margin:0 auto; padding:30px; border:1px solid #333; color:#fff; }
*/
#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:23px; text-align:center; text-shadow:0 0 5px #00c6ff; }
.clock1{margin-top:-10px}
.clock1 ul { width:auto; margin:0 auto; padding:0px; list-style:none; text-align:center; }
.clock1 ul li { display:inline; font-size:10em; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:1px; padding-right:1px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}