body{
    background-attachment: scroll;
    background-clip: border-box;
    background-image: url("/assets/logo1.png");
    background-origin: padding-box;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 30% auto;
}


.top{width:100%;float:left;padding-left:26px;color:#106d00;
background: rgba(130,130,130,1);
background: -moz-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(36,36,36,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(130,130,130,1)), color-stop(100%, rgba(36,36,36,1)));
background: -webkit-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(36,36,36,1) 100%);
background: -o-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(36,36,36,1) 100%);
background: -ms-linear-gradient(top, rgba(130,130,130,1) 0%, rgba(36,36,36,1) 100%);
background: linear-gradient(to bottom, rgba(130,130,130,1) 0%, rgba(36,36,36,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828282', endColorstr='#242424', GradientType=0 );
}
.top .logo{width:60%;float:left;}
.top .logo img{width:50px;}
.top  a{color:#000;text-decoration:none;color:#fff;}
.top .fright {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    text-align: end;
    width: 384px;
}
.navbar{width:100%;
float:left;}
#navbar{
border-bottom:1px solid #ccc;
background: rgba(247,247,247,1);
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(235,235,235,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,1)), color-stop(100%, rgba(235,235,235,1)));
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(235,235,235,1) 100%);
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(235,235,235,1) 100%);
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(235,235,235,1) 100%);
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%, rgba(235,235,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ebebeb', GradientType=0 );
}
.nav > li > a:focus, .nav > li > a:hover{
background:#dbdbdb;
}
*{font-family:arial;font-size: 100% !important;}
.t-menu{    float: left;
    }
.t-menu a{color:#000;border:1px solid #000; margin: 15px 15px 25px;float:left}
.t-menu .menu1{text-align:center; padding: 12px;
    text-align: center;
    width: 110px}
.t-menu .menu1 p{
	margin-bottom: 5px;
    margin-top: 15px;
}
.t-menu a:hover{opacity:0.8}
.t-txt{margin-top:30px;}
/* Sign in CSS */
.n-form{text-align:center;margin-top:10%;margin-bottom:40px}
.n-form img{width:15%}
.c-form{width:400px;margin:0 auto;margin-top:20px;}
.c-form input[type="checkbox"], input[type="radio"]{
    margin-right:10px;
}