

<%= form_for :user_settings,url: user_settings_create_path do |f| %>
  <% if @user_settings.errors.any? %>
		<div class="alert alert-danger alert-dismissible" role="alert">
	    <div id="error_explanation">
	      <h2><%= pluralize(@user_settings.errors.count, "error") %> prohibited this user from being Created:</h2>
	      <ul>
		      <% @user_settings.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
	      </ul>
	    </div>
    </div>
  <% end %>
  <%= f.label :email %>
  <%= f.text_field :email %><br/>

  <%= f.label :role %>
  <%= f.select(:role,["user","admin"]) %><br/>

  <%= f.label :password %>
  <%= f.text_field :password %><br/>

  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %><br/>

  <%= f.submit "Create User",class: 'btn submit' %>
<% end %>
