<style type="text/css">
#heading{
	margin-top: 10px;
	text-align: center;
	font-size: 2em;
}
</style>

<p id="heading">Users List<p>
<% if can? :create,@user %>
<%= link_to "Add New User",user_settings_add_user_path,:class => "btn btn-success" %>
<% end %>
<table class="table">
	<tr>
		<th>
		  Email
		</th>
		<th>
		  Role
		</th>
		<th>
		  Delete
		</th>
	</tr>
	<tbody style="font-size: 9px;">
  	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.role %></td>
			<td><%= link_to 'Delete user', user_settings_delete_user_path(user: user), method: :post, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
