<%= form_for(@airport) do |f| %>
  <% if @airport.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@airport.errors.count, "error") %> prohibited this airport from being saved:</h2>

        <ul>
        <% @airport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :airport_name %>
    <%= f.text_field :airport_name %>
  </div><br>

  <div class="field">
    <%= f.label :local_name %>
    <%= f.text_field :local_name %>
  </div><br>
  <div class="field">
    <%= f.label :iata %>
    <%= f.text_field :iata %>
  </div><br>
  <div class="field">
    <%= f.label :icao %>
    <%= f.text_field :icao %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div><br>
<% end %>
