<style type="text/css">
.btns{
  display: inline-block;
}
h1{
	text-align: center;
}
</style>

<h1>Editing airport</h1>

<%= render 'form' %>

<div class="btns">
	<%= link_to 'Show', @airport,class:"btn btn-info" %> 
	<%= link_to 'Back', airports_path,class:"btn" %>
</div>
