<h1 style="text-align:center">Listing airports</h1>
<%= link_to 'New Airport', new_airport_path if can? :create,class: "btn btn-success" %>

</br></br>
<table class="table">
    <tr>
      <th>Airport name</th>
      <th>Local name</th>
      <th>Iata</th>
      <th>Icao</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  <tbody style="font-size:10px;">
    <% @airports.each do |airport| %>
      <tr>
      <td><%= airport.airport_name %></td>
      <td><%= airport.local_name %></td>
      <td><%= airport.iata %></td>
      <td><%= airport.icao %></td>
      <td><%= link_to 'Show', airport,class: "btn btn-info" %></td>
      <td><%= link_to 'Edit', edit_airport_path(airport),class: "btn btn-info" %></td>
      <td><%= link_to 'Destroy', airport, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>





