<style type="text/css">
.btns{
  display: inline-block;
}
</style>


<p id="notice"><%= notice %></p>

<p>
  <b>Airport name:</b>
  <%= @airport.airport_name %>
</p>

<p>
  <b>Local name:</b>
  <%= @airport.local_name %>
</p>

<p>
  <b>Iata:</b>
  <%= @airport.iata %>
</p>

<p>
  <b>Icao:</b>
  <%= @airport.icao %>
</p>

<div class="btns">
	<%= link_to 'Edit', edit_airport_path(@airport),class:"btn btn-info" %>
	<%= link_to 'Back', airports_path,class:"btn" %>
</div>
