<h1>Listing gate_displays</h1>

<table class="table">
  <tr>
    <th>Airline image</th>
    <th>Background color</th>
    <th>Counter number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gate_displays.each do |gate_display| %>
  <tr>
    <td><%= gate_display.airline_image %></td>
    <td><%= gate_display.background_color %></td>
    <td><%= gate_display.counter_number %></td>
    <td><%= link_to 'Show', gate_display %></td>
    <td><%= link_to 'Edit', edit_gate_display_path(gate_display) %></td>
    <td><%= link_to 'Destroy', gate_display, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gate display', new_gate_display_path %>
