<div class="container">
  <div class="col-sm-12 ">
    <div class="n-form">
      <%= image_tag "logo.png" %>
      <h4>TANZANIA AIRPORT AUTHORITY(BUKOBA)</h4>
    </div>

    <div class="c-form">
      <%= form_for(resource, as: resource_name,html:{class: "form-horizontal form-signin-signup"},url: session_path(resource_name)) do |f| %>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%= f.email_field :email, autofocus: true,type: "text",placeholder: "email address", class: "form-control" %>
        </div>
        <span class="help-block"></span>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <%= f.password_field :password, autocomplete: "off",placeholder: "Password",class: "form-control"  %>
        </div>
        <span class="help-block"></span>
          <%= f.submit "Log in",class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
