<h1>Listing Counter Displays</h1>
<br/><br/>

<table class="table">
  <thead>
    <tr>
      <th>Counter number</th>
      <th>Airline image</th>
      <th>Background color</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @counter_displays.each do |counter_display| %>
      <tr>
        <td><%= counter_display.counter_number %></td>
        <td><%= counter_display.airline_image %></td>
        <td><%= counter_display.background_color %></td>
        <td><%= link_to 'Show', counter_display %></td>
        <td><%= link_to 'Edit', edit_counter_display_path(counter_display) %></td>
        <td><%= link_to 'Destroy', counter_display, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Counter Display', new_counter_display_path, class: "btn" %>
