
<span id="results">
<%= render 'display', counter_display: @counter_display  %>
</span>



<script type="text/javascript">

    (function poll() {
        setTimeout(function() {
            $.ajax({
                url: "/counter_displays/<%= @counter_display.id %>/display_results",
                type: "GET",
                complete: poll,
                timeout: 2000
            })
        }, 10000);
    })();

</script>


