
<%= form_for(@airline) do |f| %>
  <% if @airline.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@airline.errors.count, "error") %> prohibited this airline from being saved:</h2>
        <ul>
        <% @airline.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :airline_name %>
    <%= f.text_field :airline_name %>
  </div>
  <br>

  <div class="field">
    <%= f.label :iata %>
    <%= f.text_field :iata %>
  </div>
  <br>
  <div class="field">
    <%= f.label :logo %>
    <%= f.file_field :logo %>
  </div>
  <br><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

