<style type="text/css">
.btns{
  display: inline-block;
}
</style>

<h1 style="text-align:center;">Editing airline</h1>

<%= render 'form' %>
<div class="btns">
	<%= link_to 'Show', @airline,class: "btn btn-info" %> 
	<%= link_to 'Back', airlines_path,class:"btn" %>
</div>
