

<h1 style="text-align:center">Listing airlines</h1>
<%= link_to 'New Airline', new_airline_path,class: "btn btn-success" %>
</br></br>

<table class="table">
  <tr>
    <th>Airline name</th>
    <th>Iata</th>
    <th>Logo</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tbody style="font-size:10px;">
    <% @airlines.each do |airline| %>
      <tr>
        <td><%= airline.airline_name %></td>
        <td><%= airline.iata %></td>
        <td class="LogoImage"><%= image_tag(airline.logo.thumb) %></td>
        <td><%= link_to 'Show', airline,class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_airline_path(airline),class:"btn btn-info" %></td>
        <td><%= link_to 'Destroy', airline, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>