<style type="text/css">
.btns{
  display: inline-block;
}
</style>

<p id="notice"><%= notice %></p>

<p>
  <b>Airline name:</b>
  <%= @airline.airline_name %>
</p>

<p>
  <b>Iata:</b>
  <%= @airline.iata %>
</p>

<p>
  <b>Logo:</b>
  <%= @airline.logo %>
</p>

<div class="btns">
	<%= link_to 'Edit', edit_airline_path(@airline),class:"btn btn-info" %> 
	<%= link_to 'Back', airlines_path,class:"btn" %>
</div>





