<%= form_for(@counter) do |f| %>
  <% if @counter.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@counter.errors.count, "error") %> prohibited this counter from being saved:</h2>

        <ul>
        <% @counter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :counter_number %><br />
    <%= f.text_field :counter_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
