<h1 style="text-align:center;">Listing counters</h1>
<%= link_to 'New Counter', new_counter_path,class:"btn btn-success" %>

<br/><br/>

<table class="table table-condensed">
  <tr>
    <th>Counter number</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @counters.each do |counter| %>
    <tr>
      <td><%= counter.counter_number %></td>
      <td><%= link_to 'Show', counter,class:"btn btn-info" %></td>
      <td><%= link_to 'Edit', edit_counter_path(counter),class:"btn btn-info" %></td>
      <td><%= link_to 'Delete', counter, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
    </tr>
  <% end %>
</table>
<br/>