<style type="text/css">
.btns{
  display: inline-block;
}
</style>

<p id="notice"><%= notice %></p>

<p>
  <b>Counter number:</b>
  <%= @counter.counter_number %>
</p>

<div class="btns">
	<%= link_to 'Edit', edit_counter_path(@counter),class: "btn btn-info" %> |
	<%= link_to 'Back', counters_path,class: "btn btn-info" %>
</div>