<h1 style="text-align:center;">Listing remarks</h1>
<%= link_to 'New Remark', new_remark_path,class:"btn btn-success" %>
<br><br>

<table class="table">
  <tr>
    <th>Flight status</th>
    <th>Local name</th>
    <th>Color</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tbody style="font-size:10px;">
    <% @remarks.each do |remark| %>
      <tr>
        <td><%= remark.flight_status %></td>
        <td><%= remark.local_name %></td>
        <td><%= remark.color %></td>
        <td><%= link_to 'Show', remark,class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_remark_path(remark),class:"btn btn-info" %></td>
        <td><%= link_to 'Destroy', remark,method: :delete,data: {confirm: 'Are you sure?'},class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>