<p id="notice"><%= notice %></p>

<p>
  <b>Flight status:</b>
  <%= @remark.flight_status %>
</p>

<p>
  <b>Local name:</b>
  <%= @remark.local_name %>
</p>

<p>
  <b>Color:</b>
  <%= @remark.color %>
</p>


<%= link_to 'Edit', edit_remark_path(@remark),class: "btn btn-info" %> |
<%= link_to 'Back', remarks_path,class: "btn btn-info" %>
