<%= form_for(@belt) do |f| %>
  <% if @belt.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@belt.errors.count, "error") %> prohibited this belt from being saved:</h2>

        <ul>
        <% @belt.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :belt_number %><br />
    <%= f.text_field :belt_number %>
  </div>
  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
