<style type="text/css">
.btns{
  display: inline-block;
}
h1{
	text-align: center;
}
</style>

<h1>Editing belt</h1>

<%= render 'form' %>
<div class="btns">
	<%= link_to 'Show', @belt,class:"btn btn-info" %>
	<%= link_to 'Back', belts_path,class:"btn" %>
</div>
