<h1 style="text-align:center;">Listing belts</h1>
<%= link_to 'New Belt', new_belt_path, class:"btn btn-success" %>
</br></br>

<table class="table">
    <tr>
      <th>Belt number</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @belts.each do |belt| %>
      <tr>
        <td><%= belt.belt_number %></td>
        <td><%= link_to 'Show', belt,class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_belt_path(belt),class:"btn btn-info" %></td>
        <td><%= link_to 'Destroy', belt, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
      </tr>
    <% end %>
</table>

<br />


