<style type="text/css">
.btns{
  display: inline-block;
}
</style>

<p id="notice"><%= notice %></p>

<p>
  <b>Belt number:</b>
  <%= @belt.belt_number %>
</p>

<div class="btns">
	<%= link_to 'Edit', edit_belt_path(@belt),class: "btn btn-info" %> |
	<%= link_to 'Back', belts_path,class: "btn" %>
</div>