<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Fids" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "application" %>
</head>
<body>
<% if user_signed_in? %>
    <div class="top">

      <div class="logo"><img src="/assets/logo.png"><a href="/">Tanzania Airport Authority(Bukoba)</a></div>

      <div class="fright">
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="fa fa-user"></span> <%= current_user.email %> &nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">

            <li><%= link_to destroy_user_session_path,method: :delete do %>
                  <span class="fa fa-off"></span> Signout
              <% end %></li>
            <li><%= link_to edit_user_registration_path do %>
                  <span class="fa fa-wrench"></span> Change password
              <% end %></li>
          </ul>
        </li>
      </div>
    </div>

    <nav class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Dashboard</a></li>
          <li><%= link_to flights_path do %>
                <span class="fa fa-plane fa-lg"></span> Flights
            <% end %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="fa fa-th"></span> Displays<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Flight Display", displays_path %></li>
              <li><%= link_to "Counter Displays",counter_displays_path %></li>
              <li><%= link_to "Belts Display",belt_displays_path %></li>
              <li><%= link_to "Gate Display",gate_displays_path %></li>
            </ul>
          </li>

          <li><%= link_to schedules_path do %>
                <span class="fa fa-calendar"></span> Schedules
            <% end %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-wrench"></span> Controls <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Airlines",airlines_path %></li>
              <li><%= link_to "Airports",airports_path %></li>
              <li><%= link_to "My Airport",airport_details_path %></li>
              <li><%= link_to "Belts",belts_path %></li>
              <li><%= link_to "Gates",gates_path %></li>
              <li><%= link_to "Counters",counters_path %></li>
              <li><%= link_to "Status",remarks_path %></li>
              <li><%= link_to "Users",user_settings_index_path %></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </nav>
<% end %>
<div class="container t-menu">
  <div class="col-md-12">
    <!-- Menu Icons -->
      <span class="center-align">
      <% flash.each do |type, message| %>
<div class="alert <%= bootstrap_class_for(type) %> fade in">
  <button class="close" data-dismiss="alert">×</button>
  <%= message %>
</div>
<% end %>
      </span>
    <%= yield %>

  </div>

</div>











</body>
</html>

<!-- 20140924143015 -->




